<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/css/boostrap.min.css">
        <title>Введите имя пользователя и электронную почту</title>
    </head>
    <body>
        <form action="/welcome" method="post">
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <input type="submit" value="Отправить">
        </form>
    </body>
</html>